version: "3.9"

services:
  api:
    build: ./docker
    container_name: scraper_api
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379/0

  worker:
    build: ./docker
    container_name: scraper_worker
    command: python worker.py
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379/0

  redis:
    image: redis:7-alpine
    container_name: scraper_redis
    ports:
      - "6379:6379"
